:host {
  background: var(--yellow-50);
  display: flex;
  flex-direction: column;
  height: 100%;
}
p-progressSpinner {
  position: absolute;
}

.content {
  overflow: scroll;
  .search-result {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h2 {
  margin-top: -48px;
  position: fixed;
}
.title {
  font-size: 20px;
  font-weight: bold;
}

input {
  font-size: 16px;
  margin: 20px;
  padding: 10px 7px;
  width: 90%;
}

mark {
  // background-color: orange;
  background-color: #fed777;
}

a {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 4px;
  text-decoration: none; /* no underline */
  width: 96%;
}
p-overlayPanel {
  height: 70%;
}
.p-scrollpanel {
  p {
    padding: 0.5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color 0.2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }

  &.custombar2 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
      border-bottom: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--layer-2);
      border-radius: 0;
      opacity: 1;
      transition: background-color 0.2s;
    }
  }
}
